body {
 background-image: url("../images/photography.png"); 
 font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 color: #777777;
}

h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  font-weight: 550;
}

.navbar {
  padding: 0px;
  height: 50px;
}

nav {
  background-color: #ffffff;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
}

/* Viewport */
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}