/* main content styling */
body {
 background-image: url("../images/photography.png"); 
 font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 color: #777777;
 margin: 0 0 100px;
}

/* adjust body position and styling*/
html {
  position: relative;
  min-height: 100%;
}

/* heading within main content */
h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  font-weight: 550;
}

/* heading within navbar */
h5 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: 550;
  color: #ffffff;
  line-height: 45px
}

/* image captions within portfolio page */
.figure-caption  {
  background-color: #4aaaa5;
  color: white;
  width: 85.5%;
  height: 40px;
  line-height: 40px;
  float: left;
  position: absolute;
  bottom: 15px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: medium;
}

/* sticky footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #666666;
  color: #ffffff;
  border-top: 5px solid #4aaaa5;
}

/* styling for contact form */
.form-group {
  margin-bottom: 10px;
}

/* navbar positioning */
.navbar {
  padding: 0px;
  height: 50px;
}

/* nav tag styling */
nav {
  background-color: #ffffff;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: small;
}