/* spacing for game word */
#currentWord, #lettersGuessed {
  letter-spacing: 1em;
}

/* set body styling */
body {
  background-color: #ACE5EE;
  text-align: center;
  height: 400px;
  font-family: "Gill Sans", sans-serif;
  margin: 50px;
  padding-top: 2em;
  padding-bottom: 2em;
  border: 4px dotted black;
  line-height: 2.5em;
  background-image: url(../images/snowflake.png);
}

/* change h1 size and color */
h1 {
  font-size: 3em;
  color: black;
  font-family: Apple Chancery;
}

/* adjust all image width */
img {
  width: 100px;
}

/* change snowman image positioning */
#snowman {
  position: absolute;
  bottom: 30%;
  right: 15%;
}